#first {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: royalblue;
}

#container {
    display: flex;
    justify-content: center;
}

 .newstyle {
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid black;
 }